extends main

block navigation
	nav
		if login
			li
				a(href='/logout') Выйти
		else
			li
				a(href='/login') Войти 
				dev или 
				a(href='/registration') Зарегистрироваться
		li
			a(href='/')='Телескопы'
		li
			a(href='/objects')='Небесные тела'
		li
			a(href='/visibility')='Видимость'

block footerblock
	footer
		p 2019 by Vasiliev M.A. and Zharova N.A. 
		p
			a(href='/')='Главная'
