extends main

block navigation
	nav
		li
			a(href='/')='Телескопы'
		li
			a(href='/objects')='Небесные тела'
		li
			a(href='/visibility')='Видимость'

block footerblock
	footer
		p 2019 by Vasiliev M.A. and Zharova N.A. 
		p
			a(href='/')='Главная'
