extends layout

include selector.pug

block content
	table
		tr
			td
				form(action='/visibility/create',method='post')
					h3  ID телескопа
					input(type='number', min=1, max=10000, id='telid', name='telid', value=telid?telid:1)
					h3  ID небесного тела
					input(type='number', min=1, max=10000, id='objid', name='objid', value=objid?objid:1)
					p 
						button(type='submit') Добавить